
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add User</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-static/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Ikorn Solution</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Index <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Page1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Page2</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" th:action="@{/findid}">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="keyword" name="keyword" th:value="${keyword}">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div>
    	<h1 style="text-align: center;">Add User</h1>
    	<div class="col-md-auto">
    		<form th:object="${user}" th:action="@{save}"  method="POST">
    			<div>
    				<label th:text="Name" th:for="name"></label>
    				<input type="text" th:field="*{name}" class="form-control" placeholder="Name" />
    				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
    			</div>
    			<div style="clear: both; display: block; height: 10px"></div>
    			
    			<div>
    				<label th:text="Email" th:for="Email"></label>
    				<input type="text" th:field="*{email}" class="form-control" placeholder="Email" />
    				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
    			</div>
    			<div style="clear: both; display: block; height: 10px"></div>
    			
    			<div>
    				<label th:text="Phone" th:for="phone"></label>
    				<input type="text" th:field="*{phone}" class="form-control" placeholder="Phone" />
    				<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone error</span>
    			</div>
    			<div style="clear: both; display: block; height: 10px"></div>
    			<input type="submit" class="btn btn-success" value="Save"/>
    		</form> 
    	</div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
